body{
    background-color: rgb(212, 227, 236);;
}
#wrapper{
    margin:5% 0% 0% 35%;
}
#tittle{
    color: black;
    text-align: center;
    margin-top: 5vh;
}
#usersTable{
    border: 1px solid rgb(21, 120, 133,0.8);
    background-color:  rgb(179, 213, 235);
    color: rgb(15, 15, 15);
}

.tableHeaders{
    font-size: 25px;
    color: rgb(15, 15, 15);
}

.tableRow{
    border: 1px solid rgb(21, 120, 133);
    font-size: 20px;
}

a{
    color: rgb(17, 17, 17);
    text-decoration: none;
}

.buttonEdit{
    background-color: rgb(21, 120, 133);
    border: 1px solid black;
    width: 50px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
}
.buttonEdit:hover{
    background-color: rgb(255, 255, 255);
}